.places {
  display: grid;
  grid-row-gap: 80px;
  justify-items: center;

}

@media screen and (max-width: 1023px) {
  .places {
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    grid-row-gap: 50px;
    max-width: 100%;
  }
}
